.header-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  padding: 32px 0 26px;

  &-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-link {
    &:first-child {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-decoration: none;
      color: inherit;
    }

    &:last-child {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      margin-left: 28px;
      background: #2B2D3A;
      border-radius: 8px;
      color: #fff;
      padding: 8px 15px;
    }
  }
}

.navbar-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 16px;

  &-catalog {
    padding: 10px 30px;
    background: #0083CA;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    margin-right: 50px;

    &-text {
      display: inline-block;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      transform: translate(0%, -15%);
      color: #FFFFFF;
      margin-left: 10px;
    }
  }

  &-search {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 50px;

    &-label {
      position: absolute;
      top: 7px;
      left: 20px;
    }

    &-input {
      display: flex;
      width: 490px;
      padding: 12px 0 12px 55px;
      outline: none;
      border: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #2B2D3A;
      background: #F7F7F7;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &-button {
      padding: 12px 30px;
      height: 100%;
      background: #0083CA;
      border-radius: 0 8px 8px 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      cursor: pointer;
      border: 0;
      outline: none;
    }
  }

  &-list {
    display: flex;
    flex-direction: row;
  }

  &-item {
    cursor: pointer;
    padding: 6px 45px;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 8px;

    &:first-child {
      margin-right: 20px;
    }
  }
}

.main {
  &-block {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    margin: 0 auto;
    padding: 60px 0;

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-description {
      display: inline-block;
      margin: 30px 0;
      color: #5c6770;
      font-weight: 400;
      font-family: Lato,sans-serif;
      font-size: 18px;
      line-height: 26px;
    }

    &-button {
      width: fit-content;
      border: none;
      cursor: pointer;
      padding: 14px 25px;
      border-radius: 5px;
      transition: .2s;
      background-color: #6a41b2;
      margin: 30px 0 0;
      display: inline-block;
      text-decoration: none;

      &-text {
        font-size: 18px;
        line-height: 1.3;
        font-weight: 700;
        color: white;
        margin-right: 12px;
      }
    }

    &-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 20px;
      font-weight: 500;
      color: #6a41b2;
      margin-top: 30px;

      &:hover {
        text-decoration: underline;
      }

      &-image {
        position: relative;
        top: 3px;
      }
    }

    &-image {
      max-width: 635px;
      max-height: 445px;
    }
  }
}

.market-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  padding: 60px 0;

  &-image {
    max-width: 540px;
    max-height: 350px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }

  &-atom {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
  }

  &-graphic {
    max-width: 540px;
    max-height: 410px;
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
  }

  &-link {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #6a41b2;

    &:hover {
      text-decoration: underline;
    }
  }

  &-fbs {
    max-width: 540px;
    max-height: 390px;
  }

  &-book {
    height: fit-content;
    width: fit-content;
    margin-bottom: 20px;
  }

  &-question {
    height: fit-content;
    width: fit-content;
    margin-left: 8px;
  }

  &-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }

  &-image-five {
    border-radius: 5px;
  }
}

.news-block {
  background-color: #fafafa;

  &-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1140px;
    padding: 120px 0;
  }

  &-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
  }

  &-title {
    font-size: 39px;
    line-height: 47px;
    font-weight: 700;
    text-align: center;
  }

  &-description {
    display: inline-block;
    text-align: center;
    width: 60%;
    margin: 30px 0 60px;
    color: #5c6770;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    &-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  &-link {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #6a41b2;

    &:hover {
      text-decoration: underline;
    }
  }
}

.markets-block {
  background: linear-gradient(100deg,#3c4451 10%,#5c6770 90%);

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    padding: 120px 0;
  }

  &-info {
    width: 30%;
  }

  &-title {
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    color: white;
  }

  &-description {
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #c7ced1;
    margin: 20px 0;
  }

  &-link {
    color: white;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;

    &-text {
      display: inline-block;
      margin-right: 12px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-mobile-link {
    display: none;
  }

  &-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px 40px;
    width: 40%;

    &-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.price-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1140px;
  padding: 120px 0;

  &-title {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  &-button {
    border: none;
    cursor: pointer;
    padding: 14px 25px;
    border-radius: 5px;
    background-color: #6a41b2;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
    color: white;

    &-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    margin: 16px 0 16px;
  }

  &-item {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
    border-bottom: 1px solid #e8e8e8;
    transition: .5s all linear;
    justify-content: space-between;
    width: 100%;

    &:hover {
      border-bottom: 1px solid #08a045;
    }

    &-text {
      display: flex;
      flex-direction: column;

      &:first-child {
        width: 80%;
      }
    }

    &-title {
      text-align: right;
    }

    &-description {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: #5c6770;
    }

    &-right-description {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: #5c6770;
      text-align: right;
    }
  }

  &-bottom {
    margin: 20px 0 50px;

    &-text {
      display: block;
      color: #08a045;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }

    &-link {
      display: inline-block;
      margin-top: 10px;
      color: #6a41b2;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }

    &-button-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  &-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    cursor: pointer;
    user-select: none;
    padding: 14px 25px;
    border-radius: 5px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    background-color: #6a41b2;
    font-size: 18px;
    line-height: 1.3;

    &-arrow {
      margin-left: 10px;
    }
  }
}

.schemas-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1140px;
  padding: 120px 0;

  &-title {
    font-size: 39px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 60px;
  }

  &-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-card {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    width: 100%;

    &-image {
      width: 300px;
      height: 200px;

      &-small {
        width: 230px;
        height: 200px;
      }

      &-wrapper {
        display: flex;
        justify-content: center;
      }
    }

    &-number {
      position: relative;
      display: inline-block;
      width: fit-content;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
      color: #5c6770;
      background-color: #fafafa;
      border: 1px solid #c7ced1;
      margin: 30px 0 15px;
      padding: 10px;
      z-index: 2;

      &-wrapper {
        display: flex;
        justify-content: center;
      }

      &::after {
        content: "";
        display: block;
        width: 150px;
        margin-left: 35px;
        background-color: #e8e8e8;
        height: 1px;
        top: 50%;
        margin-top: -0.5px;
        left: 50%;
        position: absolute;
      }

      &::before {
        content: "";
        display: block;
        width: 150px;
        margin-left: 35px;
        background-color: #e8e8e8;
        height: 1px;
        top: 50%;
        margin-top: -0.5px;
        position: absolute;
        left: auto;
        right: 50%;
        margin-right: 35px;
      }
    }

    &-number-first {
      position: relative;
      display: inline-block;
      width: fit-content;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
      color: #5c6770;
      background-color: #fafafa;
      border: 1px solid #c7ced1;
      margin: 30px 0 15px;
      padding: 10px;
      z-index: 2;

      &::after {
        content: "";
        display: block;
        width: 150px;
        margin-left: 35px;
        background-color: #e8e8e8;
        height: 1px;
        top: 50%;
        margin-top: -0.5px;
        left: 50%;
        position: absolute;
      }
    }

    &-number-last {
      position: relative;
      display: inline-block;
      width: fit-content;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
      color: #5c6770;
      background-color: #fafafa;
      border: 1px solid #c7ced1;
      margin: 30px 0 15px;
      padding: 10px;
      z-index: 2;

      &::before {
        content: "";
        display: block;
        width: 150px;
        margin-left: 35px;
        background-color: #e8e8e8;
        height: 1px;
        top: 50%;
        margin-top: -0.5px;
        position: absolute;
        left: auto;
        right: 50%;
        margin-right: 35px;
      }
    }

    &-title {
      text-align: center;
      margin-bottom: 15px;
    }

    &-description {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: #5c6770;
      text-align: center;
    }
  }
}

.outsource-block {
  background: #fafafa;
  
  &-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 950px;
    padding: 120px 0;
  }
  
  &-title {
    font-size: 39px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 30px;
  }

  &-description {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: #5c6770;
    margin-bottom: 95px;
  }

  &-table {
    display: flex;
    flex-direction: column;
  }

  &-mobile-item {
    display: none;
  }

  &-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 25px 0;
    border-bottom: 1px solid #e8e8e8;

    &-left {
      width: 40%;
    }

    &-center {
      display: inline-block;
      text-align: center;
      width: 30%;
      color: #08a045;

      &-text {
        display: inline-block;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        color: #08a045;
        padding: 0 5px;
      }
    }

    &-right {
      display: inline-block;
      text-align: center;
      width: 30%;
      color: #5c6770;

      &-text {
        display: inline-block;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: #5c6770;
        font-weight: 400;
        padding: 0 5px;
      }
    }
  }
}

.accordion-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 950px;
  padding: 120px 0;

  &-title {
    font-size: 39px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 60px;
  }

  &-list {
    display: flex;
    flex-direction: column;
  }

  &-item {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-wrapper {
      padding: 35px 0;
      border-bottom: 1px solid #e8e8e8;
    }

    &-title {
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      transition: .2s all linear;

      &:hover {
        color: #6a41b2;
      }
    }

    &-plus {
      height: fit-content;
      width: fit-content;
    }

    &-info {
      display: flex;
      flex-direction: column;

      &-text {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: #5c6770;
        margin-top: 20px;
      }

      &-link {
        display: inline-block;
        text-decoration: none;
        color: #6a41b2;
        margin-top: 10px;

        &:hover {
          text-decoration: underline;
        }
      }

      &-fbs {
        margin-top: 10px;
      }
    }
  }

  &-text {
    text-align: center;
    margin: 80px 0 40px;
  }

  &-button {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    border: none;
    cursor: pointer;
    padding: 14px 25px;
    border-radius: 5px;
    background-color: #6a41b2;
    font-size: 18px;
    color: white;
    font-weight: 600;
    line-height: 1.3;

    &-wrapper {
      display: flex;
      justify-content: center;
    }

    &-arrow {
      margin-left: 10px;
    }
  }
}

@media (max-width: 1200px) {
  h1, h2, h3 {
    text-align: center;
  }

  h1 {
    font-size: 22px;
    line-height: 28px;
  }

  h2 {
    font-size: 22px !important;
    line-height: 28px !important;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
  }

  h5 {
    font-size: 14px;
    line-height: 1.3;
  }

  span {
    text-align: center;
  }

  .header-block {
    padding: 32px 20px 26px;
  }

  .navbar-block {
    display: none;
  }

  .main-block {
    flex-direction: column-reverse;
    justify-content: center;

    &-image {
      max-width: 100% ;

      &-wrapper {
        display: flex;
        justify-content: center;
      }
    }

    &-button-wrapper {
      display: flex;
      justify-content: center;
    }

    &-info {
      padding: 0 25px;
    }

    &-link {
      justify-content: center;

      &-text {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .market-block {
    padding: 30px 20px;
    flex-direction: column-reverse;

    &-image-wrapper {
      display: flex;
      justify-content: center;
    }

    &-image,
    &-fbs,
    &-image-five,
    &-graphic {
      max-width: 100%;
    }

    &-fbs {
      border-radius: 6px;
      margin-top: 15px;
    }

    &-info {
      width: 100%;
      place-items: center;
    }
  }

  .news-block {
    display: none;
  }

  .markets-block {

    &-container {
      flex-direction: column;
      place-items: center;
    }

    &-info {
      width: 80%;
    }

    &-link {
      display: none;
    }

    &-image {
      width: 50%;
      max-width: 100%;

      &:first-child {
        margin-right: 20px;
      }
    }

    &-images-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    &-mobile-link {
      color: white;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      display: block;
      margin-top: 60px;
    }
  }

  .price-block {
    padding: 25px 0 25px;
    place-items: center;

    &-button-wrapper {
      justify-content: center;
    }

    &-list {
      padding: 0 20px;
    }

    &-item {
      &-description {
        text-align: left;
      }

      &-secondary-description {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: #5c6770;
        text-align: right;
      }

      &-text:first-child {
        width: 70%;
      }
    }

    &-bottom {
      margin: 20px;

      &-link-wrapper {
        display: flex;
        justify-content: center;
      }
    }
  }

  .schemas-block {
    padding: 60px 0;

    &-cards {
      justify-content: center;
    }

    &-card-image {
      max-width: 100%;
      width: 100%;
    }

    &-card-number-first {
      &::after {
        width: 50px;
      }

      &::before {
        content: "";
        display: block;
        width: 50px;
        margin-left: 35px;
        background-color: #e8e8e8;
        height: 1px;
        top: 50%;
        margin-top: -0.5px;
        position: absolute;
        left: auto;
        right: 50%;
        margin-right: 35px;
      }
    }

    &-card-number {
      &::after {
        width: 50px;
      }

      &::before {
        width: 50px;
      }
    }

    &-card-number-last {
      &::before {
        width: 50px;
      }

      &::after {
        content: "";
        display: block;
        width: 50px;
        margin-left: 35px;
        background-color: #e8e8e8;
        height: 1px;
        top: 50%;
        margin-top: -0.5px;
        left: 50%;
        position: absolute;
      }
    }
  }

  .outsource-block {

    &-container {
      padding: 60px 0;
    }

    &-table {
      padding: 0 20px;
    }

    &-item {
      display: none;

      &-right {
        width: 40%;
      }

      &-center {
        width: 40%;
      }

      &-center {
        &-text {
          padding: 0 10px;
        }
      }
    }

    &-header-mobile-item {
      display: flex;
      flex-direction: row;
      padding-bottom: 25px;
      justify-content: center;
      border-bottom: 1px solid #e8e8e8;
    }

    &-mobile-item {
      display: flex;
      flex-direction: column;
      text-align: center;
      place-items: center;
      width: 100%;
      padding: 25px 0;
      border-bottom: 1px solid #e8e8e8;

      &-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
      }
    }
  }

  .accordion-block {
    &-list {
      padding: 0 20px;
    }

    &-item {
      &-title {
        text-align: left;
      }

      &-info-text {
        text-align: left;
      }
    }

    &-item-wrapper {
      padding: 10px 0;
    }
  }
}

@media (max-width: 425px) {
  .header-block {
    flex-direction: column;

    &-links {
      margin-top: 10px;
    }
  }

  .main-block {
    &-description {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .schemas-block {
    &-card-image {
      height: 100%;
    }
  }
}
